
 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	/*Header start*/
	.menu ul li a {
    
    padding: 0 0px !important; 
    text-align: right
    /* Header end*/
 }
 /*slider star*/
 .s_image{
 	display: none;
 }
 /*slider end*/
 /* feature start*/
.f_txt {
    width: 50%;
    margin-left: 176px;
}
 /*feature end*/
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
 /*Header start*/
	.menu ul li a {
    
    padding: 0 0px !important; 
    text-align: right
    /* Header end*/
	
 }
 .s_image{
 	display: none;
 }
 /* feature start*/
.f_txt {
    width: 50%;
    margin-left: 176px;
}
 /*feature end*/

 }

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
/*Header start*/
	.menu ul li a {
    
    padding: 0 0px !important; 
    text-align: right
    /* Header end*/
	
 }
	 }

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { .

}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}